build/
test/sandbox
.DS_Store
examples/example_1/test1.exe
examples/example_1/test2.exe
examples/example_2/all_tests.exe
examples/example_1/test1.out
examples/example_1/test2.out
examples/example_2/all_tests.out

# Unity stuff which has not been privately modified - nearly everything..
.gitattributes
.travis.yml
docs
examples
extras
release
src
test

auto/colour_prompt.rb
auto/colour_reporter.rb
auto/generate_config.yml
auto/generate_module.rb
auto/parse_output.rb
auto/stylize_as_junit.rb
auto/test_file_filter.rb
auto/type_sanitizer.rb
auto/unity_test_summary.py
auto/unity_test_summary.rb
auto/unity_to_junit.py
